.center-container1 {
    display: flex;
    justify-content: center;
    height: 80vh; 
    width:100%;
    margin-top: 20px;
  }
  
  .form-container1 {
    width: 100%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    border: none;

  }

  .h-tag1{
    display: flex;
    justify-content: center;
    color: black;
  }
  .form-group1{
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .user-input {
    width: 200px;
    height: 30px;  
    margin-left: 20px;
  }