.center-container {
    display: flex;
    justify-content: center;
    
    height: 75vh; /* Adjust as needed */
    margin-top: 100px;
  }
  
  .form-container {
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
  }

  .h-tag{
    display: flex;
    justify-content: center;
    color: black;
  }
  .form-group{
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .custom-input {
    width: 200px;
    height: 30px;   
    border: none;
    margin-left: 20px;
  }