/* Header styles */
.header {
    width: 100%;
    height: 30vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .h-tag{
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .card{
    margin-right:20px;
    display: flex;
  }
  
  /* Card styles */
  .left-card {
    width: 280px;
    height: 70vh;
    background-color: #ffffff;
    margin-left: 50px;
    position: absolute;
    top: 55%; /* Position the card at the vertical center */
    left: 50px; /* Adjust the horizontal position */
    transform: translateY(-50%); /* Center the card vertically */
    z-index: 1; /* Ensure the card is above the header */
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    flex-wrap: wrap;
    
  }
  .incan-img {
    margin-top: 5px;
    margin-left: 5px;
  }
  .incan-img1 {
    height:50px;
    width:150px;
  }
  .mony-img{
    margin-top: 5px;
    margin-left: 70px;
    margin-top: 10px;
    
  }

  .mony-img1{
    height:50px;
    width:50px;
  }

  .radio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    margin-right: 30px;
  }
 

  .right-card {
    display: flex;
    justify-content: center;
    width: 55%;
    height: 70vh;
    background-color: white;
    position: absolute;
    top: 48%; /* Position the card at the vertical center */
    left: 400px; /* Adjust the horizontal position */
    transform: translateY(-40%); /* Center the card vertically */
    z-index: 1; /* Ensure the card is above the header */
    border-radius: 5px;
    border: 1px solid black;
    overflow: auto;
    flex-wrap: wrap;
  }

  .tablist{
    margin-left: 10px;
  }
  .lbl-field{
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .input-field{
    height: 30px;
    width:100%;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
  }


  
  .btn-update {
    position: absolute;
    top: 10px; /* Adjust the top position as per your requirement */
  }